*

!.gitignore
!*.cpp
!*.h
!*.c
!*.py
!*/
!*.cu
!*.cuh
!*.shader
!*.eps
!*.png
!activity_main.xml
!activity_sensor_activities.xml
!ClientThread.java
!MainActivity.java
!Messages.java
!MessageSender.java
!SensorActivities.java